.card {
  margin-bottom: var(--ps1ui-space-2xl);
}

.header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: var(--ps1ui-space-md);
  margin-bottom: var(--ps1ui-space-lg);
}

.graph {
  overflow-x: auto;
}
