@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/noto-sans-jp";

@theme {
  --font-sans: "Inter Variable", "Noto Sans JP Variable", sans-serif;
}

a {
  &:hover {
    opacity: 80%;
  }
}
