@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/noto-sans-jp/400.css";
@import "@fontsource/noto-sans-jp/500.css";
@import "@fontsource/noto-sans-jp/700.css";

@theme {
  --font-sans: "Inter", "Noto Sans JP", sans-serif;
}

a {
  &:hover {
    opacity: 80%;
  }
}
