name: Deploy

permissions: {}

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 15 * * *"

concurrency:
  group: production-deployment
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: production
      url: https://koki.me
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup

      - name: Deploy
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: |
          bunx vercel pull --yes --environment=production --token="${VERCEL_TOKEN}"
          bunx vercel build --prod --token="${VERCEL_TOKEN}"
          bunx vercel deploy --prebuilt --prod --token="${VERCEL_TOKEN}"
